.header {
	width: 100%;
	position: absolute;
	top: 60px;
	left: 0;
	z-index: 10;
	// .header__container
	&__container {
		display: flex;
		align-items: center;
	}
	// .header__logo
	&__logo {
		margin: 0px 10.6% 0px 0px;
		img {
			max-width: 100%;
			max-height: 40px;
		}
	}
	// .header__email
	&__email {
		margin-right: 20px;
		font-size: 25px;
		font-weight: 300;
		color: #3471b2;
	}
	// .header__contacts
	// .header__phone
	&__phone {
		display: block;
		margin: 0px 3.5% 0px auto;
		font-size: 25px;
		font-weight: 700;
		color: #232323;
		transition: color 0.3s ease 0s;
	}
}
.social {
	display: flex;
	align-items: center;
	* + * {
		margin-left: 9px;
	}
	// .social__telegram
	&__telegram {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #70a4d9;
		transition: background-color 0.3s ease 0s;
		svg {
			margin-top: 4px;
			width: 31px;
			height: auto;
		}
		@media (min-width: $md2) {
			&:hover {
				background-color: #5888b9;
			}
		}
	}
	// .social__whatsapp
	&__whatsapp {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #5fbe6f;
		transition: background-color 0.3s ease 0s;
		svg {
			width: 21px;
			height: auto;
			margin-left: 2px;
		}
		@media (min-width: $md2) {
			&:hover {
				background-color: #4d9d5a;
			}
		}
	}
}
